/html5/src/img/icons/codebreaker-128.png
/html5/src/img/icons/codebreaker-16.png
/html5/src/img/icons/codebreaker-48.png
/html5/src/img/icons/codebreaker-60.png
/html5/src/thirdparty
/html5/src/bdd-jasmine.html
/html5/src/bdd-qunit.html
/html5/src/js/jasmine-wrapper.js
